@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #313131;
  background-image: url(http://subtlepatterns.com/patterns/debut_dark.png);
}
.q-question {
  box-sizing: border-box;
  background: rgba(0, 128, 128, 0.8);
  text-align: center;
  padding-bottom: 2.5em;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 0.25em solid #004d4d;
  padding: 0 1em 1em;
}
.q-question h3 {
  margin: 0;
  padding: .5em  0 .25em 0;
  font-weight: 700;
  font-size: 1.75em;
  text-transform: uppercase;
  color: #003334;
}
.q-question p {
  line-height: 1.65em;
  margin: 0 auto 1em auto;
  color: #cccccc;
  font-weight: 200;
  width: 65%;
}
@media (max-width: 50em) {
  .q-question p {
    width: 100%;
  }
}
.q-question form textarea {
  background: transparent;
  border: 1px solid #005f5f;
  border-radius: .25em;
  width: 55%;
  padding: .5em;
  outline: none;
  font-size: 1.25em;
  color: #cccccc;
  font-family: inherit;
  font-size: inherit;
  font-weight: 200;
  box-shadow: 5px 5px 0px #006464;
  box-sizing: border-box;
}
@media (max-width: 50em) {
  .q-question form textarea {
    width: 100%;
  }
}
.clickr {
  border: 1px solid rgba(255, 99, 71, 0.25);
  padding: 1em 2em;
  background: transparent;
  color: #eaeaea;
  text-transform: uppercase;
  border-radius: .75em;
  text-align: center;
  display: block;
  width: 200px;
  margin: auto auto;
  margin-top: 2em;
  outline: none;
}
.clickr:hover {
  border: 1px solid rgba(255, 99, 71, 0.4);
}
.clickr:active {
  background: rgba(0, 0, 0, 0.1);
  outline: none;
}
